.overlay {
    position: fixed; /* Fix to viewport */
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgb(0, 0, 0);
    z-index: 100;
    overflow-y: auto; /* Enable vertical scrolling */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .overlay-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    max-width: 60vw; /* Limit max width */
    max-height: 80vh; /* Limit max height */
    overflow-y: auto; /* Enable scrolling if content is too long */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }