//Farbpalette
$primary: #553031;
$accent: #ed975e;
$teal: #1c7e91;
$container-color: #4611113b;
$Background: #1d181c;


// Text color
$text_color--white: #ffffff;
$text_color--beige: #f5f5dc;
$text_color--aliceblue: aliceblue;
//normal Colors
$beige: #f5f5dc;
$red: rgb(122, 0, 0);
$green: rgb(2, 115, 2);

//Normal Colors
$white: #ffffff;
$grey: #808080;
$black: #000000;

// box-shadow
$box-shadow: rgba(255, 255, 255, 0.1);
$box-shadow2: rgba(196, 196, 196, 0.2);

// Border Color
$border-color: rgba(255, 255, 255, 0.1);
